.footer {
    background-color: #FEA540;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #333;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}


.footer-social {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
}

.footer-social a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-social a img:hover {
    transform: scale(1.1);
}

.footer-contact {
    text-align: center;
    font-size: 0.9rem;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: #333;
}

@media(max-width: 800px){
    .footer-links{
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-bottom: 60px;
    }
    .adapt{
        margin: 0px 0px 30px 0px;
    }
}
@media(max-width: 450px){
    .footer-main{
        flex-direction: column;
        align-items: center;
    }
    .footer-contact{
        text-align: center;
    }
}