/* Загальний стиль для сторінки */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Мінімальна висота сторінки дорівнює висоті вікна */
    margin: 0; /* Відсутність зовнішніх відступів */
}  

.body1 {
    flex: 1; /* Контент займає весь доступний простір між хедером і футером */
    padding-bottom: 100px; /* Додаємо відступ, щоб контент не накладався на футер */
}

/* Стиль для футера */
.footer {
    background-color: #FEA540;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: auto; /* Футер завжди внизу сторінки */
}
.footer-main {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 115px;
    margin-bottom: 60px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    transition: all ease-in 1s;
}



.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    background-color: #fff;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.alt{
    width: 30px;
    margin: 0 15px 0 0;
}
.alt1{
    width: 40px;
    margin: 0 10px 0 0;
}
.footer-social a img {
    border-radius: 5px; /* Залишаємо округлення */
    object-fit: cover; /* Забезпечує однаковий вигляд для всіх зображень */
     
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
    text-align: end;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-contact a:hover {
    text-decoration: underline;
}

@media(max-width: 800px){
    .footer-links{
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-bottom: 60px;
    }
    .adapt{
        margin: 0px 0px 30px 0px;
    }
}
@media(max-width: 450px){
    .footer-main{
        flex-direction: column;
        align-items: center;
    }
    .footer-contact{
        text-align: center;
    }
}