/* Слайдер */
.slider_block {
  width: 100%;
  padding-top: 15vh;  /* Відступ, що відповідає висоті шапки */
  }
  
  .slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: visible;

  }
  
 
  .slide {
    height: 600px;
    display: none;
    position: relative;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* обрізає зайве, зберігає пропорції */
    display: block;
  }
  
  .slide-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    width: 80%;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .slide-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  
  .slide-text .orange {
    color: #FEA540;
  }
  
  .slide-text p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
  }
  
  .slide-btn {
    background-color: #FEA540;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 40%;
    transition: background 0.3s ease;
  }

  .slide-btn:hover {
    background-color: #ffff;
    color: #FEA540;
    transition: background 0.3s ease;
  }
  
  /* Стрілки слайдера */
  .slider-nav .prev,
  .slider-nav .next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: #FEA54080;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    z-index: 1;
    transition: background 0.3s ease;
  } 

  .slider-nav .prev:hover,
  .slider-nav .next:hover{
    background: #fff;
    color: #FEA54080;
    border: 2px solid  #FEA54080;
    transition: background 0.3s ease;
  }
  
  .slider-nav .prev {
    left: 15px;
  }
  
  .slider-nav .next {
    right: 15px;
  }
  
  /* Точки навігації слайдера */
  .slider-dots {
    position: absolute; /* Розміщення всередині слайдера */
    bottom: 10px; /* Відступ від нижнього краю слайдера */
    left: 50%; /* Центрування по горизонталі */
    transform: translateX(-50%); /* Вирівнювання по центру */
    text-align: center;
}
  
  .slider-dots .dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s;
    cursor: pointer;
  }
  
  .slider-dots .dot.active {
    background-color: #F9A826;
  }
  

  @media (max-width: 800px) {
    .slider {
        width: 100%;
    }
    .slide-text h2{
      font-size: 14px;
    margin-bottom: 5px;
    }
    .slide-text p{
      font-size: 14px;
    margin-bottom: 10px;
    width: 50%;
    }
    .orange{
      font-size: 14px;
    }
    .slide-text{
      flex-direction: column;
      align-items: center;
      justify-content: start;
      text-align: center;
      
    }

    .slide-text h2 {
        font-size: 20px;
    }

    .slide-text p {
        font-size: 14px;
    }

    .slide-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 480px) {
  .slide {
    height: 250px; /* Ще менша висота для мобільних пристроїв */
}

.slide-text h2 {
    font-size: 18px;
}

.slide-text p {
    font-size: 12px;
}

.slide-btn {
    font-size: 12px;
    padding: 6px 12px;
}
}