.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0; /* Відступи зверху і знизу */
    background-color: #fff; /* Білий фон для секції */
    font-family: "Inter", sans-serif;
}
.vet-title {
    text-align: center; /* Центрує текст */
    margin: 50px 0; /* Відступи зверху і знизу */
    font-family: "Inter", sans-serif; /* Шрифт */
}

.vet-title h2 {
    font-size: 32px; /* Розмір заголовка */
    color: #111; /* Основний колір тексту */
}

.vet-title .highlight {
    color: #ff6600; /* Виділення кольором */
}
.vet-section {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    background-color: #FFE5CC; /* Оранжевий фон для блоку */
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь для блоку */
    overflow: hidden; /* Забезпечує акуратність країв */
}
.vet-intro {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #111;
}
.vet-info {
    flex: 1;
    padding: 30px;
    background-color: #FFE5CC; /* Оранжевий фон для текстового блоку */
}
.vet-info h2 {
    font-size: 28px; /* Розмір заголовка */
    margin-bottom: 10px; /* Відступ знизу */
    color: #111; /* Колір тексту */
    font-family: "Inter", sans-serif;
}

.vet-info .highlight {
    color: #ff6600; /* Виділення кольором */
    font-family: "Inter", sans-serif;
}

.vet-info p {
    font-size: 18px; /* Розмір тексту */
    margin-bottom: 20px; /* Відступ між абзацами */
    font-family: "Inter", sans-serif;
}

.vet-description h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}

.vet-description p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.details-btn {
    background-color: #FF6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}


.details-btn:hover {
    background-color: #E65500;
}

.vet-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE5CC; /* Оранжевий фон для блоку зображення */
}

.vet-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .vet-section {
        flex-direction: column; /* Вертикальне розташування для мобільних */
        align-items: center;
    }

    .vet-info, .vet-image {
        flex: none;
        width: 100%; /* Блоки займають всю ширину */
    }

    .vet-info {
        margin-bottom: 20px; /* Відступ між текстом і зображенням */
    }
}